@media only screen and (max-width: 800px) {
 .Card-container{
  flex-direction: column;
  padding: 0px !important;
  height: 100% !important;
 }
}

.Card-container {
  height: 100vh;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content:center ;
  padding: 15px;
  gap: 32px;
}